.message {
  display: flex;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #218aff;
  align-self: flex-end;
}
.received p {
  background: #e5e5ea;
  color: black;
}
